@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(bg1.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar .logo{
	width: 340px;
	height: auto;
	padding: 20px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: gray;
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: black;
	font-size: 35px;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.center h2{
	color: black;
	font-size: 30px;
	font-weight: normal;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.center .buttons{
	margin: 200px 380px;
}
.buttons button{
	height: 80px;
	width: 190px;
	font-size: 20px;
	font-weight: 600;
	color: white;
	background: gray;
	outline: none;
	cursor: pointer;
	border: 1px solid #454437;
	border-radius: 50px;
	transition: .4s;
}
.buttons button:hover{
	background: #2e2d26;
}

#contact-us .container-fluid {
	padding-right: 0px;
	padding-left: 0px;
	overflow-x: hidden;
  }
  
  #contact-us .col-lg-6 {
	padding-left: 0px;
	padding-right: 0px;
  }
  
  #contact-us h5 {
	font-weight: 500;
	font-size: 18px;
	color: #1e1e1e;
	letter-spacing: 0.25px;
	line-height: 26px;
  }

  .contact-text {
	font-weight: 400;
	font-size: 14px;
	color: #6f8ba4;
	letter-spacing: 0.6px;
	line-height: 26px;
  }
  
  .contact-text p {
	margin-bottom: 28px;
  }
  
  .contact-field {
	background-color: rgba(250, 250, 250, 0.3);
  }
  
  .contact-form {
	padding: 100px;
  background: rgba(0, 136, 232, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(0, 136, 232, 1)),
    color-stop(0%, rgba(0, 182, 198, 1)),
    color-stop(100%, rgba(0, 136, 232, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1 );
}
  
  
  @media (max-width: 765px) {
	.contact-form {
	  padding: 60px;
	  margin-top: -7px;
	}
  }
  
  .contact-form input,
  .contact-form textarea {
	color: #777;
	font-size: 14px;
	border: none;
	width: 100%;
	height: 50px;
	outline: none;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 30px;
  }
  
  .contact-form textarea {
	height: 150px;
	resize: none;
	padding: 20px;
  }
  
  .contact-form {
	text-align: center;
  }
  
  .contact-form ::-webkit-input-placeholder {
	/* Edge */
	color: #fff;
  }
  
  .contact-form :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #fff;
  }
  
  .contact-form ::placeholder {
	color: #fff;
  }
  